/*--global--*/
/*--nav-section--*/
/*--header-section--*/
/*--conference-section--*/
/*--info-section--*/
/*--schedule-section--*/
/*--sponsors-section--*/
/*--sign-in-section--*/
/*--dump-past-section--*/
/*--footer-section--*/

/*bg-black - #0A181B*/
/*green - #30CEC2*/
/*red - #ED5C5F*/
/*body-highlight - #FFFC*/
/*dark-blue - #1A3B44*/

img {
  max-width: 100vw;
}
p {
  max-width: 100vw;
}

img {
    max-width: 100vw;
}
p {
    max-width: 100vw;
}

/*--global--*/
@font-face {
  font-family: "Fuse V.2 Display";
  src: url(./../assets/fonts/FuseV.2Display-Regular.otf);
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fuse V.2 Display";
  color: white;
  font-weight: 400;
}
body {
  background-color: #0a181b;
  max-width: 1440px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 800;
}
h2 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 800;
}
h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 800;
}
h4 {
  font-size: 10px;
  line-height: 11.2px;
  padding: 3px 6px;
  background-color: #30cec2;
  color: #000;
  font-weight: 800;
  text-align: center;
  width: fit-content;
  height: fit-content;
  border-radius: 6px;
}
h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
}
h6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
}
p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fffc;
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 64px;
    line-height: 77px;
  }
  h2 {
    font-size: 48px;
    line-height: 58px;
  }
  h3 {
    font-size: 32px;
    line-height: 38px;
  }
  h4 {
    font-size: 12px;
    line-height: 13.54px;
    padding: 4px 8px;
  }
  h5 {
    font-size: 20px;
    line-height: 30px;
  }
  h6 {
    font-size: 24px;
    line-height: 30px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
}
.green {
  color: #30cec2;
  border-color: #30cec2;
}
.green * {
  color: #30cec2;
}
.gray {
  background-color: rgba(255, 255, 255, 0.05);
}

.bold {
  font-weight: 800;
}

.background {
  display: none;
  z-index: -1;
}
@media only screen and (min-width: 1024px) {
  .background {
    display: block;
  }
}

.background{
    display:none;
    z-index: -1;
}
@media only screen and (min-width:1024px) {
.background{
    display:block;
}
}


/*--nav-section--*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:24px;
  height: 100px;
  width: 100%;
}
  
.letter-logo {
  width: 26px;
  height: 31px;
  margin-left: 8px;
  transition: all 0.5s ease-in-out;
}

.big-logo{
  display:none;
}

.hamburger{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 14px;
  transition: all 0.5s ease-in-out;
  margin-right: 11px;
}

.hamburger > div {
  width: 100%;
  height: 1px;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

.hamburger > div :nth-child(2n) {
  transition: all 1s ease-out;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position:absolute;
  height: 100%;
  width: 100vw;
  top:-4000vw;
  left:0;
  background-color: #0A181B;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}

.navbar p {
  line-height: 30px;
  font-size: 20px;
  font-weight: 800;
}

.hidden {
  opacity: 0;
  position: fixed;
  top:-400vw;
}

.hidden:checked ~ .navbar {
  top:97px;
}

.hidden:checked ~ .letter-logo {
  width: 33px;
  height: 40px;
  margin-left: 0;
}

.hidden:checked ~ .hamburger {
  height: 0;
}

.hidden:checked ~ .hamburger > div:first-child{
  position: absolute;
  transform: rotate(45deg);
}
.hidden:checked ~ .hamburger > div:nth-child(2n){
  position: absolute;
  height: 24px;
  opacity: 0;
  transition: all 0s ease-in;
}
.hidden:checked ~ .hamburger > div:last-child{
  position: absolute;
  transform: rotate(-45deg);
}

.navbar__item {
  margin-top: 50px;
}

.navbar button {
  color: white;
}
  
  @media only screen and (min-width:768px) {
  .letter-logo{
      display:none;
  }
  .big-logo{
      display:block;
  }
  .hamburger {
      display: none;
  }
  .navbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      position:static;
      width: fit-content;
  }
  .navbar p {
      font-weight: 400;
  }
  .invisible-text{
      display: none;
  }
  .navbar__item {
      margin-left: 40px;
      margin-top: 0;
  }}

  @media only screen and (min-width:1024px) {
      .navbar{
          margin-right: 7px;
      }
      nav {
          padding: 24px 92px;
      }}
      
/*--header-section--*/

header {
  padding: 0 24px;
  margin-top: 350px;
}
header h1 {
  max-width: 880px;
}
header p {
  margin-top: 16px;
}
header button {
  padding: 12px 32px;
  margin-top: 16px;
  color: #000;
  background-color: #30cec2;
  font-size: 16px;
  line-height: 24px;
  border-radius: 15px;
  border: none;
}
@media only screen and (min-width: 768px) {
  header {
    padding: 0 48px;
    margin-top: 240px;
  }
}
@media only screen and (min-width: 1024px) {
  header {
    padding: 0 100px;
  }
}

/*--conference-section--*/

.conference {
  position: relative;
  padding:0 24px;
  margin-top: 175px;
}
.conference_image {
  width: 100%;
  max-width: 760px;
}
.conference__wrapper__text{
  max-width: 505px;
}
.conference h2{
  margin-top: 14.8px;
}
.conference p{
  margin-top: 14.8px;
}

@media only screen and (min-width:768px) {
  .conference__wrapper {
      width:100%;
      display:flex;
      justify-content: center;
  }
  }

@media only screen and (min-width:1024px) {
  .conference_image{
      margin-left: 90px;
  }
  .conference h2{
      margin-top: 30px;
  }
  .conference p{
      margin-top: 16px;
  }
  .conference > .background{
      position: absolute;
      bottom: -200px;
      right: 50px;
  }
  }

@media only screen and (min-width:1440px) {
  .conference_image{
      margin-left: 180px;
  }
  .conference__wrapper img {
      padding-right: 68px;
  }
  .conference h2{
      margin-top: 64px;
  }
  }
  

/*--info-section--*/

.info {
    padding: 0 24px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info__image{
    max-width: 100%;
}
.info--guy {
    position: relative;
}
.info--girl {
    margin-top: 55px;
}
.info--all{
    position: relative;
    margin-top: 100px;
    width: 100%;
}
.info--all__text > p{
    margin-top: 14.8px;
}
.info--all__text {
    max-width: 505px;
}
.info__stats__item {
    margin-top: 40px;
    display: flex;
}
.info__stats__item img {
    max-width: 40px;
    max-height: 40px;
}
.info__stats__item__text {
    margin-left: -15px;
    margin-top: 10px;
    max-width: 300px;
}
.info__stats__item__text p{
    margin-top: 7.4px;
}

@media only screen and (min-width:768px) {
    .info--all {
        padding: 0 50px;
    }
    .info--all .info__stats {
        display: flex;
        justify-content: space-between;
    }
    .info--all .info__stats__item {
        width: 50%;
    }
    .info__stats__item {
        margin-left: -25px;
    }
}

@media only screen and (min-width:1024px) {
    .info{
        padding: 0 100px;
        margin-top: 160px;
    }
    .info--girl {
        margin-top: 88px;
    }
    .info--all{
        margin-top: 136px;
    }
    .info--guy,
    .info--girl {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .info--guy {
        flex-direction: row-reverse;
    }
    .info .background {
        position: absolute;
        right: -150px;
        top: -200px;
    }
    .info__stats__item {
        margin-top: 90px;
    }
    .info--guy .info__stats__item:first-of-type,
    .info--girl .info__stats__item:first-of-type {
        margin-top: 0;
    }
}

@media only screen and (min-width:1440px) {
    .info{
        padding: 0 205px;
    }
    .info--girl {
        margin-top: 136px;
    }
    .info .background {
        position: absolute;
        right: -200px;
        top: -200px;
    }
  }

/*--schedule-section--*/

.schedule .background{
    position: absolute;
    top: 100px;
    left: 0;
}

.schedule{
    position: relative;
    padding: 0 24px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.schedule button {
    border: solid 2px #FFFC;
    border-radius: 20px;
    background:none;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.schedule button *{
    transition: all 0.5s ease-in-out;
}
.schedule button:hover {
    border-color: #30CEC2;
}
.schedule button:hover *{
    color: #30CEC2;
}
.schedule__date-buttons {
    margin-top: 40px;
}
.schedule__date-buttons button {
    width: 88px;
    height: 112px;
}
.schedule__date-buttons button:first-child {
    margin-right: 18px;
}
.schedule__overflow {
    width: 100%;
    overflow: hidden;
}
.schedule__schedule-buttons {
    margin-top: 40px;
    margin-left: 16px;
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    overflow: hidden;
    left: 0;
}
.schedule__schedule-buttons button {
    padding: 8px 16px;
    margin-right: 8px;
}
.schedule__items-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule__item {
    margin-top: 15px;
    border-radius: 20px;
    padding: 16px 18px 16px 24px;
    max-width: 1030px;
    width: 100%;
    display: grid;
    grid-template-rows: 20px auto auto;
    grid-template-columns: 95px auto;
}
.schedule__item p:first-child {
    width: max-content;
    grid-row-start: 1;
    grid-column-start: 1;
}
.schedule__item h4
{
    margin-top: 3px;
    grid-row-start: 1;
    grid-column-start: 2;
}
.schedule__item .schedule__item__header,
.schedule__item > h5
{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: span 2;
}
.schedule__item h5
{
    margin: 8px 8px 8px 0;
}
.schedule__item i
{
    margin-top: 10px;
}
.schedule__item p:last-child
{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: span 2;
}
.schedule__item__header {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width:540px) {
    .schedule__overflow {
        display: flex;
        justify-content: center;
    }
}
@media only screen and (min-width:768px) {
    .schedule__item__header {
        justify-content: flex-start;
    }
    .schedule__schedule-buttons {
        justify-content: center;
    }
}
@media only screen and (min-width:1024px) {
    .schedule__item {
        margin-top: 16px;
        padding: 24px 45px;
        grid-template-rows: 25px auto;
        grid-template-columns: 115px min-content auto;
    }
    .schedule__item p:first-child {
        width: max-content;
        grid-row-start: 1;
        grid-column-start: 1;
    }
    .schedule__item h4
    {
        grid-row-start: 1;
        grid-column-start: 2;
        margin-top: 0;
    }
    .schedule__item .schedule__item__header
    {
        grid-row-start: 1;
        grid-column-start: 3;
    }
    .schedule__item i
    {
        margin-top: 1px;
    }
    .schedule__item .schedule__item__header h5
    {
        margin-top: -5px;
        margin-left: 8px;
        margin-right: 11px;
    }
    .schedule__item > h5
    {
        margin-top: -3px;
        grid-row-start: 1;
        grid-column-start: 2;
    }
    .schedule__item p:last-child
    {
        margin-top: 16px;
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: span 2;
    }
}

/*--sponsors-section--*/

.sponsors__golden__title {
  text-align: center;
  margin-bottom: 80px;
}

.sponsors__golden {
  display: flex;
  flex-direction: column;
}

.sponsors__golden__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
  margin-left: 100px;
}

.sponsors__golden__item:nth-child(2n) {
  flex-direction: row-reverse;
  padding-left: 106px;
}

.sponsors__golden__item:last-child {
  margin-bottom: 0;
}

.sponsors__background__image {
  position: absolute;
  right: -100px;
  bottom: -50%;
  z-index: -1;
}

.sponsors__golden__item:nth-child(2n) > .sponsors__background__image {
  right: unset;
  left: -100px;
}

.sponsors__golden__item__text {
  width: 50%;
  padding: 0 60px;
}

.sponsors-margin-small,
.sponsors__title-margin {
  margin-bottom: 16px;
}

.sponsors-margin-medium {
  margin-bottom: 34px;
}

.sponsors-margin-big {
  margin-bottom: 160px;
}

.sponsors__other {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 80px;
  justify-content: center;
  align-items: center;
}

.sponsors__other__title {
  text-align: center;
  margin-top: 160px;
}

.sponsors__bronze__background__image {
  position: absolute;
  left: -100px;
  top: 50%;
  z-index: -1;
}

.sponsors__other > li {
  width: 20%;
  text-align: center;
  list-style-type: none;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .sponsors {
    padding: 0 24px;
  }

  .sponsors__golden__item {
    flex-direction: column;
    margin-bottom: 80px;
    padding: unset;
  }

  .sponsors__golden__item:nth-child(2n) {
    flex-direction: column;
    padding: unset;
  }

  .sponsors__golden__item__text {
    margin: unset;
    padding: unset;
    width: 100%;
  }

  .sponsors__title-margin {
    margin-top: 23px;
  }

  .sponsors__background__image {
    display: none;
  }

  .sponsors__other {
    margin: 0;
  }

  .sponsors__other__title {
    margin-top: 80px;
  }

  .sponsors__other > li {
    width: 50%;
  }

  .sponsors__bronze__background__image {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .sponsors__background__image {
    display: none;
  }
}

/*--sign-in-section--*/

.sign-in {
  margin-top: 400px;
  padding: 0 100px;
}

.sign-in__title {
  text-align: center;
}

.sign-in__wrapper {
  margin-top: 55px;
  display: flex;
}

.sign-in__items-holder {
  margin-top: 80px;
}

.sign-in__item {
  margin-top: 105px;
  position: relative;
}

.sign-in__item > img {
  position: absolute;
  top: -25px;
  left: -40px;
  z-index: -1;
}

.margin-small {
  margin-bottom: 16px;
}

.sign-in__wrapper > img {
  position: sticky;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50px;
  bottom: 50px;
}

.sign-in-button {
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  .sign-in {
    padding: 0 66px;
  }
  .sign-in__wrapper {
    flex-direction: column-reverse;
  }

  .sign-in__items-holder {
    margin-top: 60px;
  }

  .sign-in__item {
    margin-top: 50px;
  }

  .sign-in__item > img {
    width: 40px;
    top: -8px;
    left: -20px;
  }

  .sign-in__wrapper > img {
    position: relative;
    min-width: 80%;
    min-height: 80%;
    left: -30px;
  }

  .sign-in-button {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sign-in__item > img {
    width: 45px;
    top: -8px;
    left: -30px;
  }

  .sign-in__wrapper > img {
    width: 80%;
    height: 80%;
  }
}

/*--dump-past-section--*/

.dump-past {
  margin-top: 220px;
}

.dump-past__title {
  text-align: center;
}

.dump-past__wrapper {
  position: relative;
  margin-top: 55px;
  display: flex;
  overflow: hidden;
  animation: looper 10s linear infinite;
}

.dump-past__item {
  position: relative;
  margin: 0 14px;
  height: auto;
  width: 2526px;
  transition: transform 500ms ease;
  
}

@keyframes looper {
  100%{
    transform: translateX(-100px); 
  }
}

.line {
  height: 95%;
  position: absolute;
  left: -14px;
  border-left: dotted 2px white;
}

.dot-holder {
  position: absolute;
  left: -18px;
  bottom: 0;
  display: flex;
  align-items: center;
}

.dot {
  width: 9px;
  height: 9px;
  margin-right: 10px;
  border: 5px solid white;
  border-radius: 50%;
}

.text2016 {
  grid-area: c;
}

.text2017 {
  grid-area: e;
}

.grid__image-2016-1 {
  grid-area: b;
}

.grid__image-2016-2 {
  grid-area: f;
}

.grid__image-2017-1 {
  grid-area: a;
}

.grid__image-2017-2 {
  grid-area: b;
}

.grid__image-2017-3 {
  grid-area: c;
}

.grid__image-2017-4 {
  grid-area: d;
}

.grid__image-2017-5 {
  grid-area: f;
}

.dump-past__item__grid {
  margin-bottom: 50px;
  display: grid;
  grid-template-areas:
    "a a b b b c c"
    "d d d e e f f";
  gap: 10px;
  align-items: stretch;
}

/*--footer-section--*/

footer h6 {
  font-size: 18px;
}

footer{
  margin: 168px 32px;
  padding: 55px 68px;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text{
  margin-left: 68px;
}

.footer__icons{
  margin-right: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__icons > img{
  margin-right: 63px;
}

.social-media{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px){
  footer{
    flex-direction: column;
    padding: 23px 24px;
  }

  .footer__text{
    margin: unset;
    margin-bottom: 33px;
    text-align: center;
  }

  .footer__icons{
    margin: unset;
  }

  .footer__icons > img{
    margin-right: 45px;
    width: 30%;
  }

  .social-media img{
    width: 20%;
    height: auto;
  }
}

@media screen and (max-width: 1024px){
  footer{
    flex-direction: column;
    padding: 23px 24px;
  }

  .footer__text{
    margin: unset;
    margin-bottom: 33px;
    text-align: center;
  }
}
