/*--global--*/
/*--nav-section--*/
/*--header-section--*/
/*--conference-section--*/
/*--info-section--*/
/*--schedule-section--*/
/*--sponsors-section--*/
/*--sign-in-section--*/
/*--dump-past-section--*/
/*--footer-section--*/

/*bg-black - #0A181B*/
/*green - #30CEC2*/
/*red - #ED5C5F*/
/*body-highlight - #FFFC*/
/*dark-blue - #1A3B44*/

img {
  max-width: 100vw;
}
p {
  max-width: 100vw;
}

/*--global--*/
@font-face {
  font-family: "Fuse V.2 Display";
  src: url(./../assets/fonts/FuseV.2Display-Regular.otf);
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fuse V.2 Display";
  color: white;
  font-weight: 400;
}
body {
  background-color: #0a181b;
  max-width: 1440px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 800;
}
h2 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 800;
}
h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 800;
}
h4 {
  font-size: 10px;
  line-height: 11.2px;
  padding: 3px 6px;
  background-color: #30cec2;
  color: #000;
  font-weight: 800;
  text-align: center;
  width: fit-content;
  height: fit-content;
  border-radius: 6px;
}
h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
}
h6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
}
p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fffc;
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 64px;
    line-height: 77px;
  }
  h2 {
    font-size: 48px;
    line-height: 58px;
  }
  h3 {
    font-size: 32px;
    line-height: 38px;
  }
  h4 {
    font-size: 12px;
    line-height: 13.54px;
    padding: 4px 8px;
  }
  h5 {
    font-size: 20px;
    line-height: 30px;
  }
  h6 {
    font-size: 24px;
    line-height: 30px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
}
.green {
  color: #30cec2;
  border-color: #30cec2;
}
.green * {
  color: #30cec2;
}
.gray {
  background-color: rgba(255, 255, 255, 0.05);
}

.bold {
  font-weight: 800;
}

.background {
  display: none;
  z-index: -1;
}
@media only screen and (min-width: 1024px) {
  .background {
    display: block;
  }
}

/*--nav-section--*/

/*--header-section--*/

/*--conference-section--*/

/*--info-section--*/

/*--schedule-section--*/

/*--sponsors-section--*/

/*--sign-in-section--*/

/*--dump-past-section--*/

.dump-past {
  margin-top: 220px;
}

.dump-past__title {
  text-align: center;
}

.dump-past__wrapper {
  position: relative;
  margin-top: 55px;
  display: flex;
  overflow: hidden;
  animation: looper 10s linear infinite;
}

.dump-past__item {
  position: relative;
  margin: 0 14px;
  height: auto;
  width: 2526px;
  transition: transform 500ms ease;
  
}

@keyframes looper {
  100%{
    transform: translateX(-100px); 
  }
}

.line {
  height: 95%;
  position: absolute;
  left: -14px;
  border-left: dotted 2px white;
}

.dot-holder {
  position: absolute;
  left: -18px;
  bottom: 0;
  display: flex;
  align-items: center;
}

.dot {
  width: 9px;
  height: 9px;
  margin-right: 10px;
  border: 5px solid white;
  border-radius: 50%;
}

.text2016 {
  grid-area: c;
}

.text2017 {
  grid-area: e;
}

.grid__image-2016-1 {
  grid-area: b;
}

.grid__image-2016-2 {
  grid-area: f;
}

.grid__image-2017-1 {
  grid-area: a;
}

.grid__image-2017-2 {
  grid-area: b;
}

.grid__image-2017-3 {
  grid-area: c;
}

.grid__image-2017-4 {
  grid-area: d;
}

.grid__image-2017-5 {
  grid-area: f;
}

.dump-past__item__grid {
  margin-bottom: 50px;
  display: grid;
  grid-template-areas:
    "a a b b b c c"
    "d d d e e f f";
  gap: 10px;
  align-items: stretch;
}

/*--footer-section--*/
