/*--global--*/
/*--nav-section--*/
/*--header-section--*/
/*--conference-section--*/
/*--info-section--*/
/*--schedule-section--*/
/*--sponsors-section--*/
/*--sign-in-section--*/
/*--dump-past-section--*/
/*--footer-section--*/


/*bg-black - #0A181B*/
/*green - #30CEC2*/
/*red - #ED5C5F*/
/*body-highlight - #FFFFFF 80%*/
/*dark-blue - #1A3B44*/

img {
    max-width: 100vw;
}
p {
    max-width: 100vw;
}

/*--global--*/
@font-face {
    font-family: "Fuse V.2 Display";
    src: url(./../assets/fonts/FuseV.2Display-Regular.otf);
}
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Fuse V.2 Display";
    color: white;
    font-weight: 400;
}
body {
    background-color: #0A181B;
    max-width: 1440px;
    margin: 0 auto;
}
a {
    text-decoration: none;  
}

h1 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 800;
}
h2 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 800;
}
h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 800;
}
h4 {
    font-size: 10px;
    line-height: 11.2px;
    padding: 6px 3px;
    font-weight: 800;
}
h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
}
h6 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
}
p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
@media only screen and (min-width:1024px) {
h1 {
    font-size: 64px;
    line-height: 77px;
}
h2 {
    font-size: 48px;
    line-height: 58px;
}
h3 {
    font-size: 32px;
    line-height: 38px;
}
h4 {
    font-size: 12px;
    line-height: 13.54px;
    padding: 8px 4px;
}
h5 {
    font-size: 20px;
    line-height: 30px;
}
h6 {
    font-size: 24px;
    line-height: 30px;
}
p {
    font-size: 16px;
    line-height: 24px;
}
}
.green {
    color: #30CEC2;
    border-color: #30CEC2;
}
.green *{
    color: #30CEC2;
}
.gray {
    color: #ffffff;
    opacity: 0.8;
}

.bold {
    font-weight: 800;
}

.background{
    display:none;
    z-index: -1;
}
@media only screen and (min-width:1024px) {
.background{
    display:block;
}
}

/*--nav-section--*/

/*--header-section--*/

/*--conference-section--*/

/*--info-section--*/

.info {
    padding: 0 24px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info__image{
    max-width: 100%;
}
.info--guy {
    position: relative;
}
.info--girl {
    margin-top: 55px;
}
.info--all{
    position: relative;
    margin-top: 100px;
    width: 100%;
}
.info--all__text > p{
    margin-top: 14.8px;
}
.info--all__text {
    max-width: 505px;
}
.info__stats__item {
    margin-top: 40px;
    display: flex;
}
.info__stats__item img {
    max-width: 40px;
    max-height: 40px;
}
.info__stats__item__text {
    margin-left: -15px;
    margin-top: 10px;
    max-width: 300px;
}
.info__stats__item__text p{
    margin-top: 7.4px;
}

@media only screen and (min-width:768px) {
    .info--all {
        padding: 0 50px;
    }
    .info--all .info__stats {
        display: flex;
        justify-content: space-between;
    }
    .info--all .info__stats__item {
        width: 50%;
    }
    .info__stats__item {
        margin-left: -25px;
    }
}

@media only screen and (min-width:1024px) {
    .info{
        padding: 0 100px;
        margin-top: 160px;
    }
    .info--girl {
        margin-top: 88px;
    }
    .info--all{
        margin-top: 136px;
    }
    .info--guy,
    .info--girl {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .info--guy {
        flex-direction: row-reverse;
    }
    .info .background {
        position: absolute;
        right: -150px;
        top: -200px;
    }
    .info__stats__item{
        margin-top: 0;
    }
    .info__stats__item:not(.info__stats__item:first-of-type) {
        margin-top: 90px;
    }
}

@media only screen and (min-width:1440px) {
    .info{
        padding: 0 205px;
    }
    .info--girl {
        margin-top: 136px;
    }
    .info .background {
        position: absolute;
        right: -200px;
        top: -200px;
    }
}

/*--schedule-section--*/

/*--sponsors-section--*/

/*--sign-in-section--*/

/*--dump-past-section--*/

/*--footer-section--*/
footer  h6 {
    font-size: 18px;
}