/*--global--*/
/*--nav-section--*/
/*--header-section--*/
/*--conference-section--*/
/*--info-section--*/
/*--schedule-section--*/
/*--sponsors-section--*/
/*--sign-in-section--*/
/*--dump-past-section--*/
/*--footer-section--*/

/*bg-black - #0A181B*/
/*green - #30CEC2*/
/*red - #ED5C5F*/
/*body-highlight - #FFFC*/
/*dark-blue - #1A3B44*/

img {
    max-width: 100vw;
}
p {
    max-width: 100vw;
}

/*--global--*/
@font-face {
    font-family: "Fuse V.2 Display";
    src: url(./../assets/fonts/FuseV.2Display-Regular.otf);
}
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Fuse V.2 Display";
    color: white;
    font-weight: 400;
}
body {
    background-color: #0A181B;
    max-width: 1440px;
    margin: 0 auto;
}
a {
  text-decoration: none;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 800;
}
h2 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 800;
}
h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 800;
}
h4 {
  font-size: 10px;
  line-height: 11.2px;
  padding: 3px 6px;
  background-color: #30cec2;
  color: #000;
  font-weight: 800;
  text-align: center;
  width: fit-content;
  height: fit-content;
  border-radius: 6px;
}
h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
}
h6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
}
p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fffc;
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 64px;
    line-height: 77px;
  }
  h2 {
    font-size: 48px;
    line-height: 58px;
  }
  h3 {
    font-size: 32px;
    line-height: 38px;
  }
  h4 {
    font-size: 12px;
    line-height: 13.54px;
    padding: 4px 8px;
  }
  h5 {
    font-size: 20px;
    line-height: 30px;
  }
  h6 {
    font-size: 24px;
    line-height: 30px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
}
.green {
  color: #30cec2;
  border-color: #30cec2;
}
.green * {
  color: #30cec2;
}
.gray {
  background-color: rgba(255, 255, 255, 0.05);
}

.bold {
  font-weight: 800;
}

.background {
  display: none;
  z-index: -1;
}
@media only screen and (min-width: 1024px) {
  .background {
    display: block;
  }
}

/*--nav-section--*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:24px;
    height: 100px;
    width: 100%;
}
    
.letter-logo {
    width: 26px;
    height: 31px;
    margin-left: 8px;
    transition: all 0.5s ease-in-out;
}

.big-logo{
    display:none;
}

.hamburger{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 14px;
    transition: all 0.5s ease-in-out;
    margin-right: 11px;
}

.hamburger > div {
    width: 100%;
    height: 1px;
    background-color: white;
    transition: all 0.5s ease-in-out;
}

.hamburger > div :nth-child(2n) {
    transition: all 1s ease-out;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    height: 100%;
    width: 100vw;
    top:-4000vw;
    left:0;
    background-color: #0A181B;
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.navbar p {
    line-height: 30px;
    font-size: 20px;
    font-weight: 800;
}

.sponsors__golden__title {
  text-align: center;
  margin-bottom: 80px;
}

.sponsors__golden {
  display: flex;
  flex-direction: column;
}

.sponsors__golden__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
  margin-left: 100px;
}

.sponsors__golden__item:nth-child(2n) {
  flex-direction: row-reverse;
  padding-left: 106px;
}

.sponsors__golden__item:last-child {
  margin-bottom: 0;
}

.sponsors__background__image {
  position: absolute;
  right: -100px;
  bottom: -50%;
  z-index: -1;
}

.sponsors__golden__item:nth-child(2n) > .sponsors__background__image{
  right: unset;
  left: -100px;
}

.sponsors__golden__item__text{
  width: 50%;
  padding: 0 60px;
} 

.sponsors-margin-small, .sponsors__title-margin{
  margin-bottom: 16px;
}

.sponsors-margin-medium{
  margin-bottom: 34px;
}

.sponsors-margin-big{
  margin-bottom: 160px;
}

.sponsors__other{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin:0 80px;
  justify-content: center;
  align-items: center;
}

.sponsors__other__title{
  text-align: center;
  margin-top: 160px;
}

.sponsors__bronze__background__image{
  position: absolute;
  left: -100px;
  top: 50%;
  z-index: -1;
}

.sponsors__other > li{
  width: 20%;
  text-align: center;
  list-style-type: none;
  margin-top: 50px;
}

@media screen and (max-width:768px){
  .sponsors{
    padding: 0 24px;
  }

  .sponsors__golden__item{
    flex-direction: column;
    margin-bottom: 80px;
    padding: unset;
  }

  .sponsors__golden__item:nth-child(2n) {
    flex-direction: column;
    padding: unset;
  }

  .sponsors__golden__item__text{
    margin:unset;
    padding: unset;
    width: 100%;
  }

  .sponsors__title-margin{
    margin-top: 23px;
  }

  .sponsors__background__image{
    display: none;
  }

  .sponsors__other{
    margin: 0;
  }

  .sponsors__other__title{
    margin-top: 80px;
  }

  .sponsors__other > li{
    width: 50%;
  }

  .sponsors__bronze__background__image{
    display: none;
  }

}

@media screen and (max-width: 1024px){

  .sponsors__background__image{
    display: none;
  }
  
}
/*--sign-in-section--*/

.hidden:checked ~ .navbar {
    top:97px;
}

.hidden:checked ~ .letter-logo {
    width: 33px;
    height: 40px;
    margin-left: 0;
}

.hidden:checked ~ .hamburger {
    height: 0;
}

.hidden:checked ~ .hamburger > div:first-child{
    position: absolute;
    transform: rotate(45deg);
}
.hidden:checked ~ .hamburger > div:nth-child(2n){
    position: absolute;
    height: 24px;
    opacity: 0;
    transition: all 0s ease-in;
}
.hidden:checked ~ .hamburger > div:last-child{
    position: absolute;
    transform: rotate(-45deg);
}

.navbar__item {
    margin-top: 50px;
}

.navbar button {
    color: white;
}
    
    @media only screen and (min-width:768px) {
    .letter-logo{
        display:none;
    }
    .big-logo{
        display:block;
    }
    .hamburger {
        display: none;
    }
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        position:static;
        width: fit-content;
    }
    .navbar p {
        font-weight: 400;
    }
    .invisible-text{
        display: none;
    }
    .navbar__item {
        margin-left: 40px;
        margin-top: 0;
    }}

    @media only screen and (min-width:1024px) {
        .navbar{
            margin-right: 7px;
        }
        nav {
            padding: 24px 92px;
        }}
    
    /*--header-section--*/
    
    /*--conference-section--*/
    
    /*--info-guy-section--*/
    
    /*--info-girl-section--*/
    
    /*--info-all-section--*/
    
    /*--schedule-section--*/
    
    /*--sponsors-section--*/
    
    /*--sign-in-section--*/
    
    /*--dump-past-section--*/
    
    /*--footer-section--*/
    footer  h6 {
        font-size: 18px;
    }
